<article class="post" style="padding-bottom: 1%;">
</article>
  <div class="title">
    <a class="post-title" href="/post/{{id}}" style="font-size: 3.5vh;">{{title}}</a>
    
     
<a href="{{post_url}}" style="font-weight:lighter; font-size:3.00vh; padding-bottom: 1%;">{{format_url post_url}}</a>
      
       
    
    <span style="font-weight:lighter; font-size:3.00vh; padding-top: 5%;">{{post_text}}</span>
  </div>
  <div class="meta" id="comment-text">
    {{!-- {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
    | --}}
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    <p></p>
  </div>
