<article class="post" style="padding-bottom: 2%;">
</article>
  <div class="title">
    <a href="/post/{{id}}" style="font-size: 3.5vh;">{{title}}</p>
    <div class="imgdiv">
 <img id="output" style="width: 100%; height: 100%;  object-fit: cover; padding-bottom:3%" src="../images/{{image_name}}"/>
    </div>
   
    <span style="font-weight:lighter; font-size:2.30vh; color: #808080;">{{post_text}}</span>
  </div>
  <div class="meta">
    {{!-- {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
    | --}}
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    <p></p>
  </div>
